:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: all;
  user-select: none;
  touch-action: none;
}

::ng-deep {
  .f-connection-content {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: all;
    transform-origin: 50% 50%;
  }

  .f-node,
  .f-group {
    position: absolute !important;
    transform-origin: center;
    user-select: none;
    pointer-events: all;
    left: 0 !important;
    top: 0 !important;
  }

  .f-group {
    z-index: 1;
  }

  .f-connection-center,
  .f-connection-content {
    z-index: 3;
  }

  .f-node {
    z-index: 4;
  }
}
