@property --gradient-1 {
  syntax: '<color>';
  initial-value: #41d1ff;
  inherits: false;
}

@property --gradient-2 {
  syntax: '<color>';
  initial-value: #bd34fe;
  inherits: false;
}

:host {
  position: relative;
  display: flex;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background: linear-gradient(var(--background-color), var(--background-color)) 50% 50%/calc(100% - 16px) calc(100% - 16px) no-repeat,
  linear-gradient(140deg, var(--gradient-1) 0%, var(--gradient-2) 100%);
  border-radius: 8px;
  padding: 12px;
  transition: --gradient-1 0.3s, --gradient-2 0.3s;

  &.large {
    width: 140px;
    height: 140px;
  }
}

.dark {
  :host {
    --gradient-1: #bd34fe;
    --gradient-2: #41d1ff;
  }
}

span {
  margin: auto;
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
  background: -webkit-linear-gradient(120deg, var(--gradient-2) 30%, var(--gradient-1));
  background-clip: text;
  color: transparent;
}
