<f-flow fDraggable (fLoaded)="loaded()" (fSelectionChange)="selectionChanged($event)">
  <f-canvas fZoom>
    @for (connection of model().connections; track connection.id) {
      <f-connection [fConnectionId]="connection.id"
                    [fOutputId]="connection.source"
                    [fInputId]="connection.target" fBehavior="fixed" fType="segment" fReassignDisabled>
        <svg viewBox="0 0 6 7" fMarker [type]="eMarkerType.END" class="connection-marker"
             [height]="7" [width]="6"
             [refX]="5.5" [refY]="3.5" markerUnits="strokeWidth" orient="auto">
          <path d="M0.000391006 0L6 3.5L0.000391006 7L0.000391006 0Z"/>
        </svg>
        <svg viewBox="0 0 6 7" fMarker [type]="eMarkerType.SELECTED_END" class="connection-marker"
             [height]="7" [width]="6"
             [refX]="5.5" [refY]="3.5" markerUnits="strokeWidth" orient="auto">
          <path d="M0.000391006 0L6 3.5L0.000391006 7L0.000391006 0Z"/>
        </svg>
      </f-connection>
    }
    @for (node of model().nodes; track node.id) {
      <div fNode
           [fNodePosition]="node.position"
           [fNodeId]="node.id"
           fDragHandle>{{ node.text }}
        <div fNodeInput fInputId="{{node.id}}input" fInputConnectableSide="top" class="top"></div>
        <div fNodeOutput fOutputId="{{node.id}}output" fOutputConnectableSide="bottom" class="bottom"></div>
      </div>
    }
  </f-canvas>
</f-flow>
<div class="examples-toolbar">
  <button class="f-button" (click)="cut()" [disabled]="!hasSelectedItems()">Cut</button>
  <button class="f-button" (click)="copy()" [disabled]="!hasSelectedItems()">Copy</button>
  <button class="f-button" (click)="paste()" [disabled]="!clipboard()">Paste</button>
</div>
