.m-render {
  .f-code-group {
    display: block;
    border-radius: var(--code-group-border-radius);
    overflow: hidden;
    height: 100%;
    width: 100%;

    .f-code-group-tabs {
      position: relative;
      display: flex;
      padding: 0 12px;
      background-color: var(--code-group-tabs-background);
      border-bottom: 1px solid var(--code-group-tabs-border-color);
      overflow-x: auto;

      button {
        border: 2px solid transparent;
        border-left: none;
        border-right: none;
        outline: none;
        background: none;
        padding: 0 12px;
        line-height: 48px;
        font-size: var(--code-group-tab-button-font-size);
        font-weight: 500;
        color: var(--code-group-tab-button-text-color);
        cursor: pointer;

        &.active {
          color: var(--code-group-tab-button-active-text-color);
          border-bottom-color: var(--code-group-tab-button-active-border-color);
        }
      }
    }

    .f-code-group-body {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      height: calc(100% - 52px);
      overflow: auto;
    }
  }
}
