:root {
  .m-render {
    --punctuation: #24292E;
    --attr-name: #D73A49;
    --property: #032F62;
    --keyword: #28a745;
    --attr-value: #1b7c83;
  }
}

.dark {
  .m-render {
    --punctuation: #E1E4E8;
    --attr-name: #F97583;
    --property: #9ECBFF;
    --keyword: #34d058;
    --attr-value: #39c5cf;
  }
}

.m-render {
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata,
  .token.attr-name {
    color: var(--attr-name);
  }

  .token.attr-name {
    color: var(--attr-value);
  }

  .token.namespace {
    opacity: .7;
  }

  .token.property,
  .token.constant,
  .token.symbol,
  .token.deleted,
  .token.keyword,
  .token.tag, {
    color: var(--property);
  }

  .token.boolean,
  .token.number,
  .token.string,
  .token.char,
  .token.regex,
  .token.important,
  .token.variable,
  .token.operator {
    color: var(--keyword);
  }

  .token.selector,
  .token.builtin,
  .token.inserted,
  .token.function,
  .token.class-name,
  .token.punctuation {
    color: var(--property);
  }

  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.punctuation,
  .language-bash {
    color: var(--punctuation);
  }

  .token.atrule {
    color: var(--attr-value);
  }

  .token.attr-value {
    color: var(--keyword);
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}
