.m-render {

  pre, code {
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;
  }

  pre {
    position: relative;
    margin: 0;
    overflow: auto;
    max-height: 600px;

    code {
      display: block;
      padding: 16px 24px;
      width: fit-content;
      min-width: 100%;
      line-height: var(--code-view-line-height);
      font-size: var(--code-view-font-size);
      color: var(--code-view-text-color);
    }
  }

  .f-code-view, .f-async-code-view, .f-example-view {
    position: relative;
    background-color: var(--code-view-background);
    border-radius: var(--code-view-border-radius);
    overflow-x: auto;
    width: 100%;

    .f-copy-button {
      position: absolute;
      top: 8px;
      right: 20px;
      border: 1px solid var(--code-view-copy-button-border-color);
      border-radius: 4px;
      width: 32px;
      height: 32px;
      z-index: 3;
      background-color: var(--code-view-copy-button-background);
      opacity: 0;
      cursor: pointer;
      background-image: var(--copy-icon);
      background-position: 50%;
      background-size: 14px;
      background-repeat: no-repeat;
      transition: background-color 0.25s, opacity 0.25s;

      &:hover {
        background-color: var(--code-view-copy-button-hover-background);
      }
    }

    .f-code-language {
      position: absolute;
      top: 2px;
      right: 20px;
      font-size: 12px;
      font-weight: 500;
      color: var(--code-view-lang-color);
      transition: opacity 0.4s;
    }

    &:hover {
      .f-copy-button {
        opacity: 1;

        &:active {
          opacity: 0.1;
        }
      }

      .f-code-language {
        opacity: 0;
      }
    }
  }

  .f-example-view {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
}
