<p class="code">404</p>
<h1 class="title">PAGE NOT FOUND</h1>
<div class="divider"></div>
<blockquote class="quote">
  <p>Sorry, the page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
</blockquote>

<div class="action">
  <a class="link" [routerLink]="['/']" aria-label="go to home">Home</a>
  <a class="link" [routerLink]="['/docs/get-started']" aria-label="get started">Get Started</a>
  <a class="link" [routerLink]="['/examples/overview']" aria-label="examples">Examples</a>
</div>
