:host {
  display: block;
  border-top: 1px solid var(--c-border);

  .output-item {
    width: calc(100% + 28px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -14px;
    height: 34px;
    padding: 0 14px;
    font-size: var(--fs-md);
    color: var(--c-text-subtle);

    & + .output-item {
      border-top: 1px solid var(--c-border);
    }
  }
}
