<div class="showcase-list">
  <div class="showcase">
    <h2>Easy to Use</h2>
    <p>Simple and intuitive API. Create diagrams with just a few lines of code.</p>
  </div>
  <div class="showcase">
    <h2>Customizable</h2>
    <div style="width: 100%; height: 300px; border: 1px solid var(--divider-color); border-radius: 2px"></div>
    <p>The library provides a flexible structure, allowing you to populate nodes with any content and customize visual representation to fit specific tasks.</p>
  </div>
  <div class="showcase">
    <h2>Visualization</h2>
    <p>Our tool facilitates effective data and relationship visualization, enabling users to quickly analyze and understand complex structures.</p>
  </div>
  <div class="showcase">
    <h2>Interactive</h2>
    <p>Our library offers an excellent level of interactivity, allowing users to drag nodes, create connections, and zoom into diagrams with ease.</p>
  </div>
</div>

