@if (columns()) {
  <f-flow fDraggable (fLoaded)="loaded()">
    <f-canvas fZoom>
      @for (column of columns(); track column; let cIndex = $index) {
        <div
          fNode
          *ngFor="let node of column; let rIndex = index"
          [fNodePosition]="{ x: 120 * cIndex, y: rIndex * 120 }"
          fDragHandle
        >
          Node
        </div>
      }
    </f-canvas>
  </f-flow>
  <div class="examples-toolbar">
    <mat-form-field>
      <mat-label>Number</mat-label>
      <mat-select [(value)]="totalNodes">
        @for (option of totals; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
}
