@use "../../flow-common";

::ng-deep f-flow {
  @include flow-common.connection;

  .f-connection-center {
    padding: 12px;
    background: var(--node-background-color);
    border-radius: var(--node-border-radius);
    border: 0.2px solid var(--node-border-color);
  }
}

.f-node {
  @include flow-common.node;
}
