<f-flow fDraggable (fLoaded)="onLoaded()">
  <f-canvas>

    <div fNode fDragHandle
         [fNodePosition]="{ x: 0, y: 0 }">
      Handle on Node
    </div>


    <div fNode
         [fNodePosition]="{ x: 200, y: 0 }" class="drag-handle-inside">
      <span fDragHandle class="f-icon f-drag-handle-icon"></span>
      Handle inside Node
    </div>


    <div fNode
         [fNodePosition]="{ x: 400, y: 0 }" class="drag-handle-outside">
      <div fDragHandle>
        <span class="f-icon f-drag-handle-icon"></span>
      </div>
      Handle outside Node
    </div>
  </f-canvas>
</f-flow>
