<div class="onboarding-header">
  <span class="onboarding-header-label"></span>
  <div class="onboarding-header-theme-switch">
    <div class="onboarding-header-theme-switch-background"></div>
  </div>
</div>
<div class="onboarding-body">
  <span class="onboarding-content">
    <span class="onboarding-content-line onboarding-content-line-1"></span>
    <span class="onboarding-content-line onboarding-content-line-2"></span>
    <span class="onboarding-content-line onboarding-content-line-3"></span>
    <span class="onboarding-content-line onboarding-content-line-4"></span>
  </span>
</div>
<div class="onboarding-footer">
  <div class="onboarding-footer-dot onboarding-footer-dot-active"></div>
  <div class="onboarding-footer-dot"></div>
  <div class="onboarding-footer-dot"></div>
</div>
<hero-node-connector position="left" fNodeInput [fInputId]="data().uid" />
<hero-node-connector position="bottom" fNodeOutput [fOutputId]="data().uid" />
