<svg xmlns="http://www.w3.org/2000/svg">
  <defs #defs></defs>
  <ng-content select="svg[fMarker]" />
  <g class="f-connection-group">
    @if (fGradient(); as gradient) {
      <linearGradient
        fConnectionGradientRenderer
        [fConnectionGradientRendererFor]="gradient"
      ></linearGradient>
    }
    <path fConnectionSelection [attr.d]="path"></path>
    <g>
      <path f-connection-path [useGradient]="!!fGradient()" [attr.d]="path"></path>
      <circle f-connection-drag-handle-end r="8"></circle>
    </g>
  </g>
</svg>
<ng-content select="f-connection-gradient" />

@if (fContents().length) {
  <ng-content select="[fConnectionContent]" />
}
