@use "../../flow-common";

::ng-deep f-flow {
  @include flow-common.connection;
}

.f-node {
  @include flow-common.node;
}

@include flow-common.connector;

.f-node-outlet {
  position: absolute;
  border: 0.2px solid var(--node-border-color);
  background-color: var(--node-background-color);
  top: 50%;
  right: -90px;
  transform: translateY(-50%);
  border-radius: 2px;

  .mat-icon {
    display: block;
  }
}

@include flow-common.examples-toolbar;
