:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 49px;
  min-width: 49px;
  height: 100%;
  border-right: 1px solid var(--gutter-color);
  overflow: hidden;
  overflow-y: auto;
  z-index: 1;
  gap: 8px;
  padding: 8px;
}

::ng-deep .visual-programming-external-item {
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--background-color);
  border: 2px solid;
  cursor: move;
  z-index: 50;

  .icon {
    margin: auto;
    line-height: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: inherit;
  }
}

.node-icon {
  font-size: 14px;
  mask-size: 100% 100%;
  background-color: var(--secondary-text);
  width: 21px;
  height: 21px;
}


