:host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  right: 16px;
  top: 16px;
}

button {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 14px;

  color: var(--button-default-text);
  background-color: var(--button-default-bg);
  cursor: pointer;

  &:hover {
    color: var(--button-default-hover-text);
    background-color: var(--button-default-hover-bg);
  }

  &:active {
    color: var(--button-default-active-text);
    background-color: var(--button-default-active-bg);
  }
}
