@use "../../flow-common";

.f-node, .f-group {
  @include flow-common.node;

  &.f-grouping-over-boundary {
    border-style: dashed;
    border-width: 2px;
  }
}

.f-node {
  background-color: var(--node-background-color);
}

.f-group {
  background-color: var(--minimap-view-color);
}

.f-flow {
  &.f-dragging {
    .f-node {
      &:not(.f-grouping-drop-active):not(.f-dragging) {
        background-color: var(--disabled-color);
      }

      &.f-grouping-drop-active {
        border-color: var(--node-background-color-inverse);
      }
    }

    .f-group {
      &:not(.f-grouping-drop-active):not(.f-dragging) {
        background-color: var(--disabled-color);
      }

      &.f-grouping-drop-active {
        border-color: var(--node-background-color-inverse);
      }
    }
  }
}

@include flow-common.examples-toolbar;
