<f-flow fDraggable (fLoaded)="loaded()" (fDropToGroup)="onDropToGroup($event)">
  <f-canvas fZoom>
    @for (group of groups(); track group.id) {
      <div fGroup fDragHandle [fGroupId]="group.id" [fGroupParentId]="group.parentId"
           [fIncludePadding]="includePaddings()"
           [fGroupPosition]="group.position"
           [fGroupSize]="group.parentId ? {width: 150, height: 150} :{ width: 200, height: 200 }">
        Group {{ group.id }}
        @if (group.parentId) {
          <span class="f-node-group">Parent: {{ group.parentId }}</span>
        }
      </div>
    }

    @for (node of nodes(); track node.id) {
      <div fNode fDragHandle [fNodeId]="node.id" [fNodeParentId]="node.parentId"
           [fIncludePadding]="includePaddings()"
           [fNodePosition]="node.position">
        Node {{ node.id }}
        @if (node.parentId) {
          <span class="f-node-group">Parent: {{ node.parentId }}</span>
        }
      </div>
    }
  </f-canvas>
</f-flow>
<div class="examples-toolbar">
  <f-checkbox [checked]="includePaddings()" (change)="changePaddings()">Include Paddings</f-checkbox>
</div>
