@use "../flow-common";

::ng-deep connection-from-outlet {
  @include flow-common.connection;
}

.f-node {
  @include flow-common.node;
}

.node-with-outlet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: unset;

  .node-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .f-node-output, .f-node-outlet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--input-output-color);
  }

  .f-node-outlet {
    background: var(--outlet-color);
  }
}
