:host {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 280px;
  min-height: 280px;
  height: 100%;

  @media (min-width: 640px) {
    width: 392px;
    height: 392px;
  }

  @media (min-width: 960px) {
    width: 50%;
    height: 100%;
  }
}
