<svg xmlns="http://www.w3.org/2000/svg" style="display: block; vertical-align: middle;">
  <defs #defs></defs>
  <ng-content />
  <g class="f-connection-group">
    <linearGradient fConnectionGradient></linearGradient>
    <path fConnectionSelection [attr.d]="path"></path>
    <g>
      <path f-connection-path [attr.d]="path"></path>
      @if (fReassignableStart()) {
        <circle f-connection-drag-handle-start r="8"></circle>
      }
      <circle f-connection-drag-handle-end r="8"></circle>
      @if (fType === 'custom-path' && !fDraggingDisabled()) {
        @for (point of controlPointsToRender(); track $index) {
          <circle f-connection-drag-handle-control-point r="8" [index]="$index"></circle>
        }
      }
    </g>
    @if (fText) {
      <text f-connection-text></text>
    }
  </g>
</svg>
@if (fConnectionCenters().length) {
  <div #fConnectionCenter class="f-connection-center">
    <ng-content select="[fConnectionCenter]" />
  </div>
}

@if (fConnectionContents().length) {
  <ng-content select="[fConnectionContent]" />
}
