<svg
  xmlns="http://www.w3.org/2000/svg"
  style="overflow: visible; display: block; vertical-align: middle;"
>
  <defs #defs></defs>
  <ng-content></ng-content>
  <g class="f-connection-group">
    <linearGradient fConnectionGradient></linearGradient>
    <path fConnectionSelection [attr.d]="path"></path>
    <g>
      <path f-connection-path [attr.d]="path"></path>
      @if (fReassignableStart()) {
        <circle f-connection-drag-handle-start r="8"></circle>
      }
      <circle f-connection-drag-handle-end r="8"></circle>
    </g>
    <text f-connection-text></text>
  </g>
</svg>
@if (fConnectionCenters().length) {
  <div #fConnectionCenter class="f-connection-center">
    <ng-content select="[fConnectionCenter]"></ng-content>
  </div>
}

@if (fConnectionContents().length) {
  <ng-content select="[fConnectionContent]"></ng-content>
}
