<svg xmlns="http://www.w3.org/2000/svg">
  <defs #defs></defs>
  <ng-content />
  <g class="f-connection-group">
    <linearGradient fConnectionGradient></linearGradient>
    <path fConnectionSelection [attr.d]="path"></path>
    <g>
      <path f-connection-path [attr.d]="path"></path>
      @if (fReassignableStart()) {
        <circle f-connection-drag-handle-start r="8"></circle>
      }
      <circle f-connection-drag-handle-end r="8"></circle>
    </g>
  </g>
</svg>
<ng-content select="f-connection-control-points" />

@if (fConnectionContents().length) {
  <ng-content select="[fConnectionContent]" />
}
