:host {
  pointer-events: none;
  position: absolute;

  svg {
    overflow: visible;

    .f-connection-group {
      pointer-events: all;
    }
  }

  .f-connection-content {
    pointer-events: all;
  }
}
