<f-flow fDraggable (fLoaded)="onLoaded()" (fReassignConnection)="reassignConnection($event)">
  <f-canvas>

    @for (connection of connections(); track connection.id) {
      <f-connection fBehavior="floating" [fReassignDisabled]="false"
                    [fReassignableStart]="reassignableStart()"
                    [fConnectionId]="connection.id"
                    [fOutputId]="connection.source" [fInputId]="connection.target">
      </f-connection>
    }

    <div fNode fDragHandle [fNodePosition]="{ x: 0, y: 0 }" fNodeOutput fOutputId="1">Output</div>
    <div fNode fDragHandle [fNodePosition]="{ x: 0, y: 150 }" fNodeOutput fOutputId="2">Output</div>
    <div fNode fDragHandle [fNodePosition]="{ x: 250, y: 0 }" fNodeInput fInputId="3">Input</div>
    <div fNode fDragHandle [fNodePosition]="{ x: 250, y: 150 }" fNodeInput fInputId="4">Input</div>
  </f-canvas>
</f-flow>

<div class="examples-toolbar">
  <button class="f-button" (click)="onToggleReassignStart()">Enable Reassign Start</button>
</div>
