<div class="feature-list">
  <div class="feature">
    <h2>Easy to Use</h2>
    <p>Create sophisticated diagrams effortlessly with a straightforward and intuitive API. Whether you’re a beginner or a pro, a few lines of code are all you need to get started.</p>
  </div>
  <div class="feature">
    <h2>Customizable</h2>
    <p>Build with total flexibility in mind. Foblex Flow allows you to easily integrate any content within nodes, providing full control over the look and feel, ensuring it adapts perfectly to your project’s needs.</p>
  </div>
  <div class="feature">
    <h2>Visualization</h2>
    <p>Transform complex data into clear, visual representations. Foblex Flow turns information into intuitive diagrams, helping users rapidly understand, analyze, and navigate intricate relationships.</p>
  </div>
  <div class="feature">
    <h2>Interactive</h2>
    <p>Foblex Flow takes interactivity to the next level. With fluid drag-and-drop node movement, seamless connection creation, and smooth zooming, exploring your diagrams is an effortless, enjoyable experience.</p>
  </div>
</div>

