:host {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 0 8px;

  &.selected {
    background-color: var(--db-primary-soft);
  }
}

.column-key {
  width: 16px;
  min-width: 16px;
  height: 16px;

  .mat-icon {
    color: var(--db-yellow);
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
}

.f-node-input, .f-node-output {
  position: absolute;
  background-color: transparent;
  width: 56px;
  height: 100%;
}

.f-node-input {
  left: -8px;
}

.f-node-output {
  right: -8px;
}
