@use '../../flow-common';

::ng-deep f-flow {
  @include flow-common.connection;
}

.f-node {
  @include flow-common.node;
}

.f-node-content {
  padding: 12px 20px;
  background: white;
  border: 2px solid #3b82f6;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
