:host {
  display: flex;
  width: 100%;
  height: 100%;
}

::ng-deep .visual-programming-flow {

  .f-line-alignment {
    .f-line {
      background-color: var(--divider-color);
    }
  }

  .f-connection {

    .f-connection-drag-handle {
      fill: transparent;
    }

    .f-connection-selection {
      stroke-width: 20px;
      fill: none;
    }

    &:hover {
      .f-connection-selection {
        stroke: var(--gray-soft);
      }
    }

    .f-connection-path {
      stroke-width: 2px;
      fill: none;
    }

    &.f-connection-for-create {
      .f-connection-path {
        stroke: var(--primary-3);
        stroke-width: 2px;
      }
    }

    .f-connection-text {
      fill: var(--tertiary-text);
      font-size: 12px;
    }

    &.f-selected {
      .f-connection-path {
        stroke: var(--primary-3);
      }

      .f-connection-text {
        fill: var(--primary-3);
      }
    }
  }

  .f-connection-for-create {
    .f-connection-path {
      stroke-width: 1px;
      fill: none;
    }
  }

  .f-selection-area {
    background-color: var(--primary-soft);
  }

  .f-minimap {
    background-color: var(--background-color);
    bottom: 16px;
    right: 16px;
    width: 140px;
    height: 120px;

    .f-minimap-node {
      fill: var(--primary-text);

      &.f-selected {
        fill: var(--primary-1);
      }
    }

    .f-minimap-view {
      fill: var(--primary-soft)
    }
  }
}
