<f-flow fDraggable
        (contextmenu)="onContextMenu($event)"
        [cdkContextMenuTriggerFor]="menu.template"
        (cdkContextMenuClosed)="menu.dispose()"
        (fLoaded)="onInitialized()"
        (fReassignConnection)="reassignConnection($event)"
        (fCreateConnection)="createConnection($event)"
        (fSelectionChange)="selectionChanged($event)">
  <f-background>
    <f-circle-pattern></f-circle-pattern>
  </f-background>
  <f-line-alignment></f-line-alignment>
  <f-canvas fZoom (fCanvasChange)="canvasChanged($event)">
    <f-connection-for-create fBehavior="floating"
                             fType="straight">
      <svg viewBox="0 0 10 10" fMarker [type]="eMarkerType.START" [height]="10" [width]="10" [refX]="5" [refY]="5">
        <circle cx="5" cy="5" r="2" stroke="none"></circle>
      </svg>
      <svg viewBox="0 0 6 6" fMarker [type]="eMarkerType.END" [height]="6" [width]="6" [refX]="5" [refY]="3">
        <path d="M0,0 L6,3 0,6Z" stroke="none"></path>
      </svg>
    </f-connection-for-create>
    <f-snap-connection fBehavior="fixed"
                       fType="segment" [fSnapThreshold]="100">
      <svg viewBox="0 0 10 10" fMarker [type]="eMarkerType.START" [height]="10" [width]="10" [refX]="5" [refY]="5">
        <circle cx="5" cy="5" r="2" stroke="none"></circle>
      </svg>
      <svg viewBox="0 0 6 6" fMarker [type]="eMarkerType.END" [height]="6" [width]="6" [refX]="5" [refY]="3">
        <path d="M0,0 L6,3 0,6Z" stroke="none"></path>
      </svg>
    </f-snap-connection>
    @for (connection of viewModel.connections; track connection.id) {
      <f-connection [fConnectionId]="connection.id"
                    fBehavior="fixed"
                    fType="segment"
                    [fOutputId]="connection.from" [fInputId]="connection.to">
        <svg viewBox="0 0 10 10" fMarker [type]="eMarkerType.START" [height]="10" [width]="10" [refX]="5" [refY]="5">
          <circle cx="5" cy="5" r="2" stroke="none"></circle>
        </svg>
        <svg viewBox="0 0 6 6" fMarker [type]="eMarkerType.END" [height]="6" [width]="6" [refX]="5" [refY]="3">
          <path d="M0,0 L6,3 0,6Z" stroke="none"></path>
        </svg>
        <svg viewBox="0 0 10 10" fMarker [type]="eMarkerType.SELECTED_START" [height]="10" [width]="10" [refX]="5" [refY]="5">
          <circle cx="5" cy="5" r="2" stroke="none"></circle>
        </svg>
        <svg viewBox="0 0 6 6" fMarker [type]="eMarkerType.SELECTED_END" [height]="6" [width]="6" [refX]="5" [refY]="3">
          <path d="M0,0 L6,3 0,6Z" stroke="none"></path>
        </svg>
        <div fConnectionCenter db-management-connection-toolbar [viewModel]="connection"></div>
      </f-connection>
    }
    @for (group of viewModel.groups; track group.id) {
      <div fGroup [fGroupId]="group.id" [fGroupParentId]="group.parentId" [fGroupPosition]="group.position"
           [fGroupSize]="group.size" fDragHandle fAutoExpandOnChildHit fIncludePadding>
        <div class="group-title">{{ group.name }}</div>
        <div fResizeHandle [fResizeHandleType]="eResizeHandleType.LEFT"></div>
        <div fResizeHandle [fResizeHandleType]="eResizeHandleType.LEFT_TOP"></div>
        <div fResizeHandle [fResizeHandleType]="eResizeHandleType.TOP"></div>
        <div fResizeHandle [fResizeHandleType]="eResizeHandleType.RIGHT_TOP"></div>
        <div fResizeHandle [fResizeHandleType]="eResizeHandleType.RIGHT"></div>
        <div fResizeHandle [fResizeHandleType]="eResizeHandleType.LEFT_BOTTOM"></div>
        <div fResizeHandle [fResizeHandleType]="eResizeHandleType.BOTTOM"></div>
        <div fResizeHandle [fResizeHandleType]="eResizeHandleType.RIGHT_BOTTOM"></div>
      </div>
    }
    @for (table of viewModel.tables; track table.id) {
      <db-management-table [viewModel]="table"
                           [form]="getTableForm(table.id)"
                           [fNodeId]="table.id"
                           fNode
                           [fConnectOnNode]="true"
                           [fNodeParentId]="table.parentId"
                           [fNodePosition]="table.position"
                           (fNodePositionChange)="moveTable($event, table)">
      </db-management-table>
    }

  </f-canvas>
  <f-selection-area></f-selection-area>
  <f-minimap [fMinSize]="2000"></f-minimap>
</f-flow>
<db-management-toolbar></db-management-toolbar>
<db-management-context-menu #menu="menuComponent"></db-management-context-menu>

