@if (isBrowser) {
<f-flow fDraggable (fLoaded)="loaded()" (fDragStarted)="dragStarted()" (fDragEnded)="dragEnded()">
  <f-background>
    <f-rect-pattern
      hSize="80"
      vSize="80"
      hColor="var(--hero-grid-soft)"
      vColor="var(--hero-grid-soft)"
    />
  </f-background>
  <f-canvas [position]="canvasPosition()" [scale]="scale()">
    @for (connection of connections; track connection) {
    <f-connection
      class="hero-connection"
      [class.dashed]="connection.style === eHeroConnectionStyle.DASHED"
      [class.animated]="connection.style === eHeroConnectionStyle.ANIMATED"
      [fReassignDisabled]="true"
      [fSelectionDisabled]="true"
      [fBehavior]="connection.behaviour"
      [fType]="connection.type"
      [fOutputId]="connection.source"
      [fOutputSide]="connection.sourceSide || 'calculate'"
      [fInputId]="connection.target"
      [fInputSide]="connection.targetSide || 'calculate'"
    >
      <svg
        viewBox="0 0 12 12"
        fMarker
        class="connection-marker"
        [type]="eMarkerType.END"
        [height]="8"
        [width]="8"
        [refX]="7"
        [refY]="4"
      >
        <path d="M1.5 1.5L10 6L1.5 10.5L3.7 6Z" />
      </svg>
    </f-connection>
    } @for (node of nodes; track node.uid) {
    <hero-wrapper-node
      [data]="node"
      fNode
      [fNodeId]="node.uid"
      fDragHandle
      [fNodeRotate]="node.rotate"
      [fNodePosition]="node.position"
      (fNodePositionChange)="changeNodePosition($event, node)"
    >
    </hero-wrapper-node>
    }
  </f-canvas>
</f-flow>
}
