@use "../../flow-common";

::ng-deep drag-start-end-events {
  @include flow-common.connection;

  .connection-marker {
    circle, rect, path {
      fill: var(--connection-color);
    }
  }

  .f-connection {
    &.f-selected {

      .f-connection-path {
        stroke: var(--minimap-node-selected-color);
      }
      .connection-marker {
        circle, rect, path {
          fill: var(--minimap-node-selected-color);
        }
      }
    }
  }
}

.f-node {
  @include flow-common.node;
}

.f-node-input, .f-node-output {
  &:not(.f-node) {
    @include flow-common.connectors;
  }
}

.f-node-output {
  &:not(.f-node) {
    border-radius: 4px;
  }
}

.overlay {
  @include flow-common.overlay;
}
