<f-flow fDraggable>
  <f-canvas>
    <f-connection fText="Straight" [fReassignDisabled]="true" fType="straight" fOutputId="output1" fInputId="input1"></f-connection>
    <div fNode fDragHandle [fNodePosition]="{ x: 24, y: 24 }" fNodeOutput fOutputId="output1" fOutputConnectableSide="right">drag me</div>
    <div fNode fDragHandle [fNodePosition]="{ x: 144, y: 140 }" fNodeInput fInputId="input1" fInputConnectableSide="left">drag me</div>

    <f-connection fText="Bezier" [fReassignDisabled]="true" fType="bezier" fOutputId="output2" fInputId="input2"></f-connection>
    <div fNode fDragHandle [fNodePosition]="{ x: 320, y: 24 }" fNodeOutput fOutputId="output2" fOutputConnectableSide="right">drag me</div>
    <div fNode fDragHandle [fNodePosition]="{ x: 440, y: 140 }" fNodeInput fInputId="input2" fInputConnectableSide="left">drag me</div>

    <f-connection [fReassignDisabled]="true" fType="segment" fOutputId="output3" fInputId="input3">
      <div fConnectionCenter>
        Segment
      </div>
    </f-connection>
    <div fNode fDragHandle [fNodePosition]="{ x: 596, y: 24 }" fNodeOutput fOutputId="output3" fOutputConnectableSide="right">drag me</div>
    <div fNode fDragHandle [fNodePosition]="{ x: 716, y: 140 }" fNodeInput fInputId="input3" fInputConnectableSide="left">drag me</div>
  </f-canvas>
</f-flow>
