<f-flow fDraggable (fLoaded)="loaded()">
  @switch (background()) {
    @case ('circle') {
      <f-background>
        <f-circle-pattern />
      </f-background>
    }
    @case ('rect') {
      <f-background>
        <f-rect-pattern />
      </f-background>
    }
    @case ('custom') {
      <f-background>
        <custom-background-example />
      </f-background>
    }
  }
  <f-canvas fZoom>
    <f-connection fOutputId="output1" fInputId="input1" fBehavior="floating" />
    <div fNode [fNodePosition]="{ x: 0, y: 0 }" fDragHandle>
      <div fNodeOutput fOutputId="output1" class="right"></div>
      I'm a node
    </div>
    <div fNode [fNodePosition]="{ x: 200, y: 0 }" fDragHandle>
      <div fNodeInput fInputId="input1" class="left"></div>
      I'm a node
    </div>
  </f-canvas>
</f-flow>
<div class="examples-toolbar">
  <mat-form-field>
    <mat-label>Select Background</mat-label>
    <mat-select [(value)]="background">
      @for (option of backgroundOptions; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
