<f-flow fDraggable
        (fLoaded)="onInitialized()">
  <f-background>
    <f-circle-pattern></f-circle-pattern>
  </f-background>
  <f-line-alignment></f-line-alignment>
  <f-canvas fZoom>

    @for (item of connections; track item.to) {
      <f-connection [fReassignDisabled]="true"
                    [fSelectionDisabled]="true"
                    fBehavior="floating"
                    [fOutputId]="item.from" [fInputId]="item.to">
        <svg viewBox="0 0 10 10" fMarker [type]="eMarkerType.START" [height]="10" [width]="10" [refX]="5" [refY]="5">
          <circle cx="5" cy="5" r="2" stroke="none" fill="var(--primary-3)"></circle>
        </svg>
        <svg viewBox="0 0 6 6" fMarker [type]="eMarkerType.END" [height]="6" [width]="6" [refX]="5" [refY]="3">
          <path d="M0,0 L6,3 0,6Z" stroke="none" fill="var(--primary-3)"></path>
        </svg>
      </f-connection>
    }

    @for (item of groups; track item.id) {
      <div fGroup [fGroupId]="item.id" [fGroupPosition]="item.position" fDragHandle [fGroupSize]="item.size"
           fNodeOutput [fOutputId]="item.id"
           fNodeInput [fInputId]="item.id">
        <div class="title">{{ item.data.name }}</div>
        <div class="body">
          @for (attr of item.data.attributes; track attr) {
            <div class="attr">{{ attr }}</div>
          }
          @for (attr of item.data.methods; track attr) {
            <div class="attr">{{ attr }}()</div>
          }
        </div>
      </div>
    }

    @for (item of nodes; track item.id) {
      <div fNode [fNodeId]="item.id" [fNodePosition]="item.position" [fNodeParentId]="item.parentId" fDragHandle
           fNodeOutput [fOutputId]="item.id"
           fNodeInput [fInputId]="item.id">
        <div class="title">{{ item.data.name }}</div>
        <div class="body">
          @for (attr of item.data.attributes; track attr) {
            <div class="attr">{{ attr }}</div>
          }
          @for (attr of item.data.methods; track attr) {
            <div class="attr">{{ attr }}()</div>
          }
        </div>
      </div>
    }


  </f-canvas>
</f-flow>

