:host {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform-origin: 0 0;
  pointer-events: none;

  &.canvas-dragging {
    transform: translateZ(0);
  }
}

.f-connections-container {
  position: absolute;
  z-index: 2;
}
