@use "../../flow-common";

::ng-deep groups-simple-example {
  @include flow-common.connection;
}

.f-node {
  @include flow-common.node;
  cursor: default;
}

.f-group {
  background-color: red;
  opacity: 0.3;
}
