<f-flow fDraggable (fLoaded)="onLoaded()" (fSelectionChange)="onSelectionChange($event)">
  <f-canvas>
    <f-connection fOutputId="output1" fInputId="input1" fBehavior="floating"></f-connection>
    <f-connection fOutputId="output1" fInputId="input2" fBehavior="floating"></f-connection>
    <div fNode [fNodePosition]="{ x: 24, y: 24 }" fNodeOutput fOutputId="output1" fDragHandle>I'm a node</div>
    <div fNode [fNodePosition]="{ x: 244, y: 24 }" fNodeInput fInputId="input1" fDragHandle>I'm a node</div>
    <div fNode [fNodePosition]="{ x: 144, y: 154 }" fNodeInput fInputId="input2" fDragHandle [fNodeSelectionDisabled]="true">
      I'm a node with disabled selection
    </div>
  </f-canvas>
</f-flow>
<div class="overlay">
  @for (item of selection; track item) {
    <div>Selection changed: {{ item }}</div>
  }
</div>
