@use "../flow-common";

::ng-deep resize-handle {
  @include flow-common.connection;
}

.f-node {
  position: relative;
  @include flow-common.node;
  padding: 24px;
}

.node-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.f-resize-handle {
 // z-index: 10;
  overflow: visible;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--node-background-color);
  border: 1px solid var(--node-border-color);

  &.f-resize-handle-left-top {
    top: -6px;
    left: -6px;
    cursor: nwse-resize;
  }

  &.f-resize-handle-right-top {
    top: -6px;
    right: -6px;
    cursor: nesw-resize;
  }

  &.f-resize-handle-left-bottom {
    bottom: -6px;
    left: -6px;
    cursor: nesw-resize;
  }

  &.f-resize-handle-right-bottom {
    bottom: -6px;
    right: -6px;
    cursor: nwse-resize;
  }
}
