<div class="dashboard-image"></div>

<div class="dashboard-body">
  <div class="dashboard-avatar"></div>
  <div class="dashboard-text-container">
    <div class="dashboard-text text-1"></div>
    <div class="dashboard-text text-2"></div>
    <div class="dashboard-text text-3"></div>
  </div>
</div>
<div class="dashboard-footer">
  <div class="dashboard-dots">
    <div class="dashboard-dot dashboard-dot-1"></div>
    <div class="dashboard-dot dashboard-dot-2"></div>
    <div class="dashboard-dot dashboard-dot-3"></div>
  </div>
  <div class="menu-button"></div>
</div>
<hero-node-connector position="top" fNodeInput [fInputId]="data().uid" />
<hero-node-connector position="fill" fNodeOutput [fOutputId]="data().uid" />
